.hongjin {
  p.free {
    position: absolute;
    bottom: 13%;
    text-align: center;
    width: 100%;
    font-size: .34rem;
    line-height: .34rem;
    height: .34rem;
    color: #ffe4e3;
  }

  img {
    pointer-events: none;
    vertical-align: top;
    display: block;
  }

  button {
    background: transparent;
    border: 0;
  }

  .bg {
    width: 100%;
    height: auto;
    position: relative;
  }

  .bg>img {
    width: 100%;
    margin: -1px 0;
  }

  #myScore {
    color: #fe5243;
    display: block;
    position: absolute;
    text-align: left;
    top: 28.8%;
    left: 59%;
    height: 1rem;
    width: 20%;
    font-size: .625rem;
    line-height: .9375rem;
  }

  .nine {
    position: absolute;
    background: url(nine_bg.png)no-repeat center /100% 100%;
    width: 90%;
    left: 5%;
    top: 0%;
    height: 9.8rem;
  }

  .nine .wrapper {
    width: 100%;
    height: 7.8rem;
    background: url("light.png")no-repeat center /100% 100%;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .light {
    animation: 1s light linear infinite;
    -webkit-animation: 1s light linear infinite;
  }

  @keyframes light {
    0% {
      background: url("light.png")no-repeat center /100% 100%;
    }

    50% {
      background: url("light2.png")no-repeat center /100% 100%;
    }

    100% {
      background: url("light.png")no-repeat center /100% 100%;
    }
  }

  @-webkit-keyframes light {
    0% {
      background: url("light.png")no-repeat center /100% 100%;
    }

    50% {
      background: url("light2.png")no-repeat center /100% 100%;
    }

    100% {
      background: url("light.png")no-repeat center /100% 100%;
    }
  }

  .nine .wrapper .main_box {
    width: 90%;
    margin: .4rem auto;
    position: relative;
  }

  .nine .wrapper .main_box .item_box {
    width: 100%;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 2.3rem;
  }

  .nine .wrapper .main_box .item_box>div {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    height: 100%;
  }

  .item_main {
    background: url("item_off.png")no-repeat center /100% 100%;
    width: 90%;
    height: 90%;
    margin: 5%;
    position: relative;
    text-align: center;
  }

  .item_on {
    width: 100%;
    height: 100%;
    display: none;
  }

  .link {
    width: 71%;
    height: 13%;
    margin: 8% auto;
    display: block;
    background: transparent;
  }

  .price {
    position: absolute;
    top: 5%;
    left: 3%;
    height: 79%;
    width: 94%;
    text-align: center;
  }

  .price img {
    width: 50%;
    /*height: 66%;*/
    margin: 0 auto;
    padding-top: 5%;
  }

  .price .f_img {
    position: absolute;
    top: -4%;
    left: 23%;
    width: 54%;
    display: none;
  }

  .price p {
    color: #fff;
    margin-top: 3%;
    font-size: .25rem;
  }

  .list {
    position: absolute;
    top: 26%;
    left: 6%;
    width: 87%;
    height: 5.5rem;
    overflow: hidden;
  }

  .list ul {
    width: 100%;
    /*max-height: 100%;*/
  }

  .list ul li {
    width: 100%;
    height: .7rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .list ul li span {
    display: inline-block;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    width: 33.3%;
    height: 100%;
    line-height: .7rem;
    font-size: .35rem;
    text-align: center;
    color: #ff5149;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  .rule_box {
    position: absolute;
    top: 12%;
    left: 6%;
    height: 85%;
    width: 84%;
    overflow-y: scroll;
    white-space: pre-line;
  }

  .rule_box p{
    text-align: left;
    color: #ffeeb3;
    font-size: .34rem;
    line-height: .6rem;
    margin-top: .1rem;
  }

  .info .title {
    color: #ffeeb3;
    margin-top: .5rem;
    width: 21%;
    height: .48rem;
    line-height: .48rem;
    font-size: .34rem;
    border-radius: .29rem;
    background: #da3a20;
    text-align: center;
  }

  /*.time{
    position: absolute;
    top: 23.2%;
    left: 9%;
}
.rule{
    position: absolute;
    top: 40.8%;
    left: 9%;
}
.detail{
    position: absolute;
    top: 59%;
    left: 9%;
    width: 89%;
    line-height: .64rem;
}*/


  .lottery {
    position: relative;
    width: 100%;
    height: 100%;
  }

  .lottery button {
    position: absolute;
    left: 10%;
    /* top: 2%; */
    height: 92%;
    width: 80%;
    margin-top: 5%;
  }

  .lottery_btn {
    background: url("lottery.png")no-repeat center /100% 100%;
  }

  .lottery_no_btn {
    display: none;
    background: url("lottery_no.png")no-repeat center /100% 100%;
  }

  #maqBox {
    -webkit-animation: 1s linear;
    animation: 1s linear;
  }

  .alert {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    background: rgba(0, 0, 0, 0.8);
    z-index: 99;
  }


  .alert button {
    font-size: .34rem;
  }

  .alert .wrapper_box {
    background: url("alert.png")no-repeat center /100% 100%;
    width: 9.5rem;
    height: 11rem;
    margin: 10% auto;
    position: relative;
  }

  .alert .title {
    font-size: .64rem;
    color: #ffffff;
    font-weight: bold;
    text-align: center;
    padding-top: 13%;
    height: 1rem;
    line-height: 1rem;
  }

  .alert_main {
    position: relative;
    width: 58%;
    margin: 5% auto;
    /* border: 1px solid red; */
    height: 5.2rem;
    color: #71402a;
    font-size: .37rem;
    text-align: center;
  }

  .win_cash_info {
    line-height: .48rem;
    height: .48rem;
    padding-top: 1%;
  }

  .win_cash_info span {
    font-size: .48rem;
    color: #fe5243;
    display: inline-block;
    width:auto !important;
    max-width: 50% !important;
  }

  .win_cash_box {
    position: relative;
    height: 2.6rem;
    width: 90%;
    margin: 0 auto;
  }

  .win_cash_box img {
    width: 100%;
    position: absolute;
    bottom: 0;
  }

  .win_cash_box span {
    position: absolute;
    top: 39%;
    left: 8%;
    width: 59%;
    height: 1.06rem;
    line-height: 1.06rem;
    color: #ffffff;
    font-size: 1.06rem;
    text-align: center;
    &.quan{
      left: 80%;
      width: 17%;
      font-size: .8rem;
      }
    }

    .win_cash_box span i {
      font-style: normal;
      font-size: .56rem;
    }

    .win_cash_detail {
      margin-top: 4%;
    }

    .win_cash_des {
      margin-bottom: 4%;
    }

    .win_cash_btn {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      width: 100%;
    }

    .win_cash_btn button {
      /*width: 2.45rem;*/
      height: .84rem;

      text-align: center;

      border-radius: .5rem;
      -webkit-box-flex: 1;
      -ms-flex: 1;
      flex: 1;
      width: 50%;
      margin: 0 4%;
    }

    .win_cash_btn .again {
      border: 0.04rem solid #981701;
      color: #981701;
      background: transparent;
    }

    .win_cash_btn .get {
      border: 0.04rem solid #fe5243;
      color: #ffffff;
      background: #fe5243;
    }

    .close {
      position: absolute;
      bottom: 0;
      left: 42%;
      height: 13%;
      width: 15%;
      background: transparent;
    }

    .win_score_info {
      line-height: .48rem;
      height: .48rem;
      padding-top: 1%;
    }

    .win_score_info span {
      font-size: .48rem;
      color: #fe5243;
      display: inline-block;
      width: 15%;
    }

    .win_score_box {
      position: relative;
      height: 2.6rem;
      width: 90%;
      margin: 0 auto;
    }

    .win_score_box img {
      height: 96%;
      /* position: absolute; */
      /* bottom: 0; */
      margin: 4% auto 0;
    }

    .win_score_box span {
      position: absolute;
      top: 31%;
      left: 26%;
      width: 48%;
      height: .96rem;
      line-height: .96rem;
      color: #ba750e;
      font-weight: bold;
      font-size: .96rem;
      text-align: left;
      text-align: center;
    }

    .win_score_box span i {
      font-style: normal;
      font-size: .56rem;
    }

    .win_score_detail {
      margin-top: 3%;
    }

    .win_score_des {
      margin-bottom: 3%;
    }

    .win_score_btn {
      width: 100%;
    }

    .win_score_btn button {
      /*width: 2.45rem;*/
      height: .84rem;
      text-align: center;
      border-radius: .5rem;
      -webkit-box-flex: 1;
      -ms-flex: 1;
      flex: 1;
      width: 60%;
      margin: 0 auto;
      background: #fe5243;
      color: #ffffff;
    }

    .win_score_btn .again {
      border: 0.04rem solid #981701;
      color: #981701;
      background: transparent;
    }

    .win_score_btn .get {
      border: 0.04rem solid #fe5243;
      color: #ffffff;
      background: #fe5243;
    }

    .fail {}

    .win_fail_box {
      position: relative;
      height: 3.3rem;
      width: 90%;
      margin: 0 auto;
    }

    .win_fail_box img {
      height: 100%;
      /* position: absolute; */
      /* bottom: 0; */
      margin: 0 auto 0;
    }

    .fail .win_score_btn {
      display: block;
    }

    .fail .again {
      border: 0.04rem solid #981701;
      color: #981701;
      background: transparent;
      display: block;
      width: 66%;
      margin: 0 auto;
    }



    .award_list {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      display: none;
      background: rgba(0, 0, 0, 0.8);

    }

    .award_list .list_main {
      background: url("price_list.png")no-repeat center /100% 100%;
      width: 9.3rem;
      height: 14.44rem;
      /*height: 80%;*/
      margin: 10% auto;
      position: relative;
    }

    .award_list .list_main .close {
      position: absolute;
      top: 0;
      left: 83.5%;
      width: 12%;
      height: 1rem;
    }

    .award_main {
      position: absolute;
      top: 28%;
      left: 10%;
      width: 80%;
      margin: 0 auto;
      /* height: 9.8rem; */
      height: 70%;
      overflow: hidden;
    }

    .award_main ul {
      width: 100%;
      height: 100%;
      overflow-y: scroll;
    }

    .award_main ul li {
      width: 100%;
      height: 20%;
      border-bottom: 0.03rem solid #ffd5a1;
      position: relative;
    }

    .award_main ul li>div {
      width: 100%;
      height: 100%;

    }

    .price_info_box {
      width: 60%;
      height: 100%;
      overflow: hidden;
      position: relative;
    }

    .price_info_box img {
      height: 80%;
      position: absolute;
      top: 10%;
    }

    .price_info_box>div {
      display: table;
      /* width: 550px; */
      width: 60%;
      height: 1.6rem;
      padding: 0 0.1em;
      /* border: 4px solid #beceeb; */
      /* color: #069; */
      /* font-size: 10em; */
      vertical-align: middle;
      /* margin-left: 38%; */
      position: absolute;
      top: 11%;
      left: 37%;
    }

    .price_info_box>div p {}


    .award_main ul li span {
      font-size: .3733rem;
      line-height: .3733rem;
      color: #71402a;
      display: table-cell;
      vertical-align: middle;
      word-break: break-all;
    }

    .award_main ul li button {
      position: absolute;
      top: 50%;
      width: 2.4rem;
      height: .7rem;
      right: 0;
      margin: -.35rem 0;
      bottom: 50%;
      font-size: .4rem;
      color: #ffffff;
      text-align: center;
      line-height: .7rem;
      border-radius: .35rem;
    }

    .award_main ul li .toGet {
      background: #fe5243;
    }

    .award_main ul li .Geted {
      background: #919191;
    }

    .score_no {}

    .score_no div {
      width: 100%;
      height: 100%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
    }

    .score_no span {
      font-size: .34rem;
      color: #fff;
      padding: .1rem .5rem;
      background: #000;
      position: absolute;
      line-height: .34rem;
      height: .34rem;
      border-radius: .1rem;
    }
  }